---
import { Image } from "astro:assets"
import logo from "../assets/logoName.png"
import ContactUs from "./ContactUs.jsx"
---
<section class="w-full h-full bg-black">
  <!-- Header with logo and name - properly centered -->
  <div class=" w-full h-[15%] bg-white flex justify-center items-center pt-10   ">

    <div class="name-logo-container w-[90%]   ">

      <Image src={logo} class="w-full h-full" alt="logo and name"/>
    </div>

  </div>
  
  <!-- Background image section -->
  <div class="bg-[url(../assets/background.jpg)] w-full h-[85%] relative overflow-hidden bg-cover bg-center">
    <!-- Dark overlay -->
    <div class="absolute inset-0 bg-black opacity-35 z-10"></div>
    
    <!-- Main content - explicitly centered -->
    <div class="absolute inset-0 z-30 flex flex-col items-center justify-center text-white">
      <div class=" max-w-4xl mx-auto px-4">
        <!-- Main heading -->
        <div class="launching-shortly-text-container mb-6">
          <p class="text-6xl  text-center custom-font">Launching Shortly...</p>
        </div>
        
        <!-- Subtitle text -->
        <div class="contact-us-content mb-8">
          <p class=" text-sm sm:text-xl google-sans-code font-light text-center mb-2">A whole new experience on its way.</p>
          <p class=" sm:text-xl font-light google-sans-code text-center">Stay tuned!</p>
        </div>
        
        <!-- Contact component -->
        <div class="flex justify-center">
          <ContactUs client:load />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  /*targetting screens smaller than 324px*/

@media (min-width: 420px) and (max-width: 640px) {
  .name-logo-container {
    width: 70% !important; 
    
  }
}
@media (min-width: 641px) and (max-width:1000px) {
  .name-logo-container {
   width: 40% !important;
   padding-inline-end:40px ;
  }
}

@media (min-width: 1002px) and (max-width:1140px) {
  .name-logo-container {
   width: 35% !important;
   padding-inline-end: 50px;
  }
}

@media (min-width: 1142px) and (max-width:5000px) {
  .name-logo-container {
   width: 25% !important;
   padding-inline-end: 50px;
  }
}



@font-face {
  font-family: 'MyGallient';
  src:url('../assets/font/Gallient-Regular.woff2') format('woff2'),
      url('../assets/font/Gallient-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


.custom-font{
  font-family: "MyGallient";
}


  .bg-\[url\(\.\.\/assets\/background\.jpg\)\] {
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  
  .google-sans-code {
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
 
  .roboto-heading {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
</style>